# Logs
logs/
*.log
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules/
.pnp
.pnp.js

# Build
dist/
dist-ssr/
*.local
.vite/

# Tests / Coverage
coverage/
.nyc_output/

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local
.env.development
.env.production
